{% extends 'layouts/base.html' %}

{% block content %}
  <div style="max-width: 400px; margin: auto; text-align: center;">
    <h2 style="color: #333; margin-bottom: 20px;">Iniciar Sesión</h2>
    <form method="post" action="{% url 'login' %}" style="background-color: #3498db; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      {% csrf_token %}
      <div style="margin-bottom: 15px;">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div style="margin-bottom: 15px;">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
      <button type="submit" style="background-color: #26a69a; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Iniciar Sesión</button>
    </form>
  </div>
{% endblock %}
